	body
		margin: 0
		font-family: 'Roboto', sans-serif
		
	#main
		margin: 0 auto
		width: 80%
		#nav-bar
			display: flex
			justify-content: space-between
			min-height: 30px
			line-height: 30px
			.nav-item
				padding: 0px 10px 
				text-align: center
				&:hover
					border-bottom: 3px solid black
					cursor: pointer
			

			
		