doctype html
html
	head
		title Home
		link(rel="stylesheet" type="text/css" href="/css/index.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0") 

	body
		#banner
		#main
			#nav-bar
				.nav-item Creative Code
				.nav-item 3D design
				.nav-item Illustration
				.nav-item CV
			#content


		// - add this to enable browser reload on app restart
		script(src="/reload/reload.js")