doctype html
html
	head
		title Home
		link(rel="stylesheet" type="text/css" href="/css/index.css")
	body
		h1 hello world!!
		// - add this to enable browser reload on app restart
		script(src="/reload/reload.js")